<launch>
  <arg name="source" />
  <arg name="logdir" />
  <arg name="metadata_source" />
  <arg name="mode" />
  <arg name="input_tensor" />
  <arg name="output_tensor" />
  <arg name="display" default="true" />
  <arg name="save_path" default="" />
  <arg name="save_mode" default="0" />
  <arg name="cpu" default="false" />
  <arg name="gpu_percent" default="1.0" />

  <node pkg="cnn_bridge" name="segmentation_bridge" type="cnn_bridge_main.py">
    <param name="source" value="$(arg source)" />
    <param name="logdir" value="$(arg logdir)" />
    <param name="metadata_source" value="$(arg metadata_source)" />
    <param name="mode" value="segmentation" />
    <param name="input_tensor" value="$(arg input_tensor)" />
    <param name="output_tensor" value="$(arg output_tensor)" />
    <param name="display" value="$(arg display)" />
    <param name="save_mode" value="$(arg save_mode)" />
    <param name="save_path" value="$(arg save_path)" />
    <param name="cpu" value="$(arg cpu)" />
    <param name="gpu_percent" value="$(arg gpu_percent)" />
  </node>
</launch>